# --- Backend & AI Orchestration ---
langchain>=0.1.0
langchain-core>=0.1.0
langchain-community>=0.1.0
langchain-groq
langgraph
langchain-huggingface

# --- AI Models & Embeddings ---
--extra-index-url https://download.pytorch.org/whl/cpu
torch --index-url https://download.pytorch.org/whl/cpu
sentence-transformers
huggingface-hub

# --- Databases ---
faiss-cpu
pinecone

# --- Security & Utilities ---
cryptography
python-dotenv
pydantic>=2.0.0
pypdf
tavily-python

# --- UI ---
streamlit