--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langgraph
faiss-cpu
sentence-transformers
tavily-python
python-dotenv
pydantic
pypdf


langchain-classic
presidio-analyzer
presidio-anonymizer
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
