--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langgraph
faiss-cpu
sentence-transformers
tavily-python
python-dotenv
pydantic
pypdf